body{
	height: 1800px;
	padding-top: 76px ;
}
/*header code*/
.logo {
	display: inline-block;
	margin-right: 50px;
}
.navigation {
	display: inline-block;
}
.nav-li {
	display: inline-block;
	margin-right: 15px;
}
.header-wraper{
	background-color: lightblue;
	padding: 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
/*.section-about{
	margin-top: 76px;
}*/